<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1></h1>
        <label for>Enter your new password</label>
        <input type="password">
        <button onclick="handelsubmit()">Submit</button>

        <script>
        let headingTag = document.querySelector('h1')
        let inputTag = document.querySelector('input')
        console.log(inputTag); 
        let token = "<%=  token    %>"
        console.log(token);
        
        async function handelsubmit (e){
        let ans = inputTag.value
        console.log(ans);

        let res = await fetch(`http://localhost:8081/users/resetToken/${token}`,{
            method:'POST',
            headers:{
             'content-type':'application/json'
            },
            body:JSON.stringify({newPassword:ans})
        })
        let data = await res.json();
           console.log(data)
           if(data.success===true){
            headingTag.innerHTML = data.msg
            headingTag.style.color = "green"
            inputTag.value = ""
           }
           else{
             headingTag.innerHTML = data.msg
            headingTag.style.color = "red"
            inputTag.value = ""
           }
        
     }

     </script>
    </body>
</html>